{
  "Debug": true,
  "Server": {
    "Address": ":9091"
  },
  "Log": {
    "Path": "/var/log/thichlab",
    "Prefix": "backend-docs",
    "Description": "Must set write-permission for /var/log/thichlab"
  },
  "Postgres": {
    "Host": "",
    "Port": ,
    "Username": "",
    "Password": "",
    "Database": ""
  },
  "Redis": {
    "Host": "",
    "Password": "",
    "DB": "0",
    "PoolSize": 10000,
    "MinIdleConns": 10
  },
  "RedisSearch": {
    "Host": "",
    "Password": "",
    "IndexName": ""
  }
}